<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="g_Stock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="g_StockEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=';data source=ILYASSE-PC\ILYASSE;initial catalog=g_Stock;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework';" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <g_Stock.Properties.Settings>
      <setting name="Identifiant" serializeAs="String">
        <value />
      </setting>
      <setting name="Service" serializeAs="String">
        <value />
      </setting>
      <setting name="Profil" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pathLphoto" serializeAs="String">
        <value>D:\g_Stock\.Photos</value>
      </setting>
      <setting name="pathTemp" serializeAs="String">
        <value>D:\g_Stock\.Temp</value>
      </setting>
    </g_Stock.Properties.Settings>
  </userSettings>
</configuration>